*{
    padding:0;
    margin:0;
    outline:none;
    border:none;
}

body{
    font-family:'Courier New', Courier, monospace;
    background-color:green;
    padding:20px 20%;
}

main, #logo{
    border:3px white solid;
    padding:50px;
}
nav li{
    list-style-type: none;
    display:inline-block;
}
