{% extends 'base.html.twig'%}
{% block stylesheets %}
{{ parent()}}
    <link href="{{ asset('css/style_assurance.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <header>
        <div id="logo">Assurances</div>
        <nav>
        {{ include("_menu.html.twig")}}
            <ul>
                <li><a href="{{ path("assurance_professionnel")}}">Professionnels</a></li>
                <li><a href="{{ path("assurance_particulier")}}">Particuliers</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <p>Site des assurances de BMP</p>
    </footer>
{% endblock %}