{% extends 'assurance/base.html.twig' %}

{% block title %}{{parent()}} • Particuliers{% endblock %}

{% block content %}

    <h1>Assurances pour les particuliers</h1>
    <p>Voilà l'index de l'espace particulier</p>

{% endblock %}
