{% extends 'assurance/base.html.twig' %}

{% block title %}{{parent()}} • Professionnels{% endblock %}

{% block content %}
    <h1>Assurances pour les professionnels</h1>
    <p>Voilà l'index de l'espace professionnel</p>

{% endblock %}
