{% extends 'base.html.twig'%}
{% block stylesheets %}
{{ parent()}}
    <link href="{{ 'css/style_banque.css'}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <header>
        <div id="logo">Banque</div>
        <nav>
        {{ include("_menu.html.twig")}}
            <ul>
                <li><a href="#">Mes comptes</a></li>
                <li><a href="#">La bourse</a></li>
            </ul>
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <p>Site des banque de BMP</p>
    </footer>
{% endblock %}