{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>Bienvenu sur le site de la BMP</h1>
    <p> Souhaitez-vous découvir <a href="{{ path("assurance_index")}}">l'espace assurance</a> ou <a href="{{ path("banque_index")}}">l'espace banque</a> ?</p>
</div>
{% endblock %}
